---
import Layout from '@layouts/Layout.astro';
import Section from '@components/Section.astro';
---

<Layout title="YouTube+">
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<Section icon="symbols/theme" title="Themes" href="/themes" />
	<!-- <h1>Welcome to YouTube+</h1>
	<p>Start building your Astro app!</p>
	<a href="/test">TEST PAGE</a> -->
</Layout>