---
interface Props {
	title: string;
}

import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<nav id="nav">
	<div id="navbar-left" transition:persist="navbar-left">
		<a href="#" onclick="window.history.back(); return false;">
			<Icon name="symbols/left-arrow" width={32} height={32} />
		</a>
		<!-- <Icon name="branding/logo" width={32} height={32} /> -->
		<h1 id="page-name">{title}</h1>
	</div>
	<div id="navbar-right">
		<Icon name="symbols/search" width={32} height={32} />
		<a href="/settings">
			<Icon name="symbols/more" width={32} height={32} />
		</a>
	</div>
</nav>
<style>
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
    z-index: 2;
    position: relative;
    height: 50px;
    width: inherit;
    background-color: var(--element-color-elevation-1);
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

	nav[data-nav-intro="move-down"] {
		top: -50px;
		animation: move-down 800ms forwards;
	}

	#navbar-left[data-nav-animation="move-left"], #navbar-left[data-nav-animation="move-right"] {
		position: relative;
	}

	#navbar-left[data-nav-animation="move-left"] {
		/* left: 40px; */
		animation: move-left 800ms 150ms forwards;
	}

	#navbar-left[data-nav-animation="move-right"] {
		right: 40px;
		animation: move-right 800ms 200ms forwards;
	}

	#navbar-left[data-nav-state="hidden"] {
		position: relative;
		right: 40px;
	}

	#navbar-left {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	#navbar-right {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	@keyframes move-down {
		from { top: -50px; }
		to { top: 0; }
	}

	@keyframes move-left {
		from { left: 0; }
		to { left: -40px; }
	}

	@keyframes move-right {
		from { right: 40px; }
		to { right: 0; }
	}
</style>
<script>
	const nav = document.getElementById('nav');
	const nav_left = document.getElementById('navbar-left');

	if (location.pathname !== '/') {
		nav?.setAttribute('data-nav-intro', '');
		nav_left?.setAttribute('data-nav-state', '');
	} else {
		nav?.setAttribute('data-nav-intro', 'move-down');
		nav_left?.setAttribute('data-nav-state', 'hidden');
	}

	document.addEventListener('astro:before-preparation', (e) => {
		if (e.to.pathname !== '/') {
			nav?.setAttribute('data-nav-intro', '');
			nav_left?.setAttribute('data-nav-state', '');
			if (nav_left?.getAttribute('data-nav-animation') !== 'move-right' && nav_left?.getAttribute('data-nav-animation') !== 'triggered') {
				nav_left?.setAttribute('data-nav-animation', 'move-right');
			} else {
				nav_left?.setAttribute('data-nav-animation', 'triggered');
			}
		} else {
			nav_left?.setAttribute('data-nav-animation', 'move-left');
		}
	}, { once: false });
</script>