---
interface Props {
	title: string;
}

import { ViewTransitions } from 'astro:transitions';
import Nav from '@src/components/Nav.astro';

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
		<Nav title={title} />
		<div id="container">
			<div id="wrapper">
				<div id="content">
					<slot />
				</div>
			</div>
		</div>
		<div id="root"></div>
		<div id="background-blur" transition:persist="blur" data-blur-animation="zoom"></div>
    </body>
</html>
<style is:global>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--text: #ffffff;
	--background: #000000;
	--primary: #7A0818;
	--secondary: #2c0707;
	--accent: #de2121;

	--switch-bg-color: #898989;
	--switch-toggled-color: #087a12;

	--element-color-elevation-1: rgba(101, 51, 51, 0.2);
	--element-color-elevation-2: rgba(101, 51, 51, 0.4);

	--focus-color: rgba(255, 255, 255, 0.2);

	--scroll-bar-color: rgba(255, 255, 255, 0.4);
	--background-blur: 3px;
	--blur-elevation-1: 3px;
	--blur-elevation-2: 5px;
	--border-radius: 10px;
	--content-height: 450px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
}

html, body, #root {
	min-height: 600px;
	min-width: 400px;
	max-height: 600px;
	max-width: 400px;
	overflow: hidden;
}

	body {  background-color: #000;  }

		#navbar, .setting-pages-container, .settings-container, #footer {
			backdrop-filter: blur(var(--blur-elevation-1));
			-webkit-backdrop-filter: blur(var(--blur-elevation-1));
		}

/* Sorry Martin! */
#vtbot-loading-indicator {
	display: none;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	min-width: 100%;
	height: 550px;
	z-index: 2;
}
	#wrapper {
		background-color: var(--element-color-elevation-1);
		width: 350px;
		height: var(--content-height);
		max-height: var(--content-height);
		border-radius: var(--border-radius);
		opacity: 0;
		animation: fade-in 800ms forwards;
		overflow: hidden;
	}

		#content {
			height: 100%;
			overflow-y: scroll;
		}

			#content::-webkit-scrollbar { width: 4px; }

			#content::-webkit-scrollbar-thumb { background-color: var(--scroll-bar-color); }

	#root {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		backdrop-filter: blur(3px);
	}

	#background-blur {
		position: absolute;
		top: 0px;
		z-index: -1;
		height: 600px;
		width: 400px;

		background-color: #000;
		background-size: 50px 50px;
		background-position: 50% 51px;
		background-image: linear-gradient(to right, var(--primary) 2px, transparent 2px), linear-gradient(to bottom, var(--primary) 1px, transparent 1px);	
	}

	#background-blur[data-blur-animation="zoom"] { animation: zoom 800ms 150ms forwards; }
	#background-blur[data-blur-animation="slide-left"] { animation: slide-left 800ms 150ms forwards; }
	#background-blur[data-blur-animation="slide-right"] { animation: slide-right 800ms 150ms forwards; }
	#background-blur[data-blur-animation="slide-diag-NE"] { animation: slide-diag-NE 800ms 150ms forwards; }
	#background-blur[data-blur-animation="slide-diag-SW"] { animation: slide-diag-SW 800ms 150ms forwards; }

	@keyframes fade-in {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes zoom {
		from { background-size: 20px 20px; }
		to { background-size: 50px 50px; }
	}

	@keyframes slide-left {
		from { background-position: -50% 51px; }
		to { background-position: 50% 51px; }
	}

	@keyframes slide-right {
		from { background-position: 50% 51px; }
		to { background-position: -50% 51px; }
	}

	@keyframes slide-diag-NE {
		from { background-position: 50% 51px; }
		to { background-position: -50% calc(50% + 26px); }
	}

	@keyframes slide-diag-SW {
		from { background-position: -50% calc(50% + 26px); }
		to { background-position: 50% 51px; }
	}
</style>
<script>
	const background_blur = document.getElementById('background-blur');

	document.addEventListener('astro:before-preparation', (e) => {
		if (e.from.pathname === e.to.pathname) {
			background_blur?.setAttribute('data-blur-animation', '');
			return;
		};
		
		if (e.to.pathname === '/settings/index.html') {
			background_blur?.setAttribute('data-blur-animation', 'slide-diag-NE');
		} else if (e.to.pathname === '/index.html') {
			background_blur?.setAttribute('data-blur-animation', 'slide-left');
		} else {
			background_blur?.setAttribute('data-blur-animation', 'slide-right');
		}

		if (e.from.pathname === '/settings/index.html') {
			background_blur?.setAttribute('data-blur-animation', 'slide-diag-SW');
		}
	});
</script>